@using MemberService.DAL
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    UserRolesTable rt = new UserRolesTable(new DbManager(""));
    int memberId =Convert.ToInt32(User.Identity.GetUserId());
    List<string> roleOfUser = rt.FindByUserId(memberId);
    <ul class="nav navbar-nav">
        @if (roleOfUser.Contains("Admin"))
        {
            <li>@Html.ActionLink("Services", "Index", "Services")</li>
        }
        @if (roleOfUser.Contains("Member"))
        {
            <li>@Html.ActionLink("Subscriptions", "Index", "Subscriptions")</li>
        }
    </ul>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
